<div class="row white">
    <div class="col s12">
        <div>
            <h4 class="center-align">Proximos estrenos</h4>
        </div>
        <div class="row">
            <div class="col s12 m2 12 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/imagenes/posters/RogueOneP.jpg">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fas fa-bookmark"></i></a>
                    <a href="#"><i class="fas fa-language"></i></a>
                    <a href="#"><i class="fas fa-share-alt"></i></a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Nombre Pelicula
                        <i class="material-icons">close</i>
                    </span>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries
                    </p>
                </div>
            </div>
            <div class="col s12 m2 12 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/imagenes/posters/stars.jpg">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fas fa-bookmark"></i></a>
                    <a href="#"><i class="fas fa-language"></i></a>
                    <a href="#"><i class="fas fa-share-alt"></i></a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Nombre Pelicula
                        <i class="material-icons">close</i>
                    </span>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries
                    </p>
                </div>
            </div>
            <div class="col s12 m2 12 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/imagenes/posters/the_mummy.jpg">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fas fa-bookmark"></i></a>
                    <a href="#"><i class="fas fa-language"></i></a>
                    <a href="#"><i class="fas fa-share-alt"></i></a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Nombre Pelicula
                        <i class="material-icons">close</i>
                    </span>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries
                    </p>
                </div>
            </div>
            <div class="col s12 m2 12 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/imagenes/posters/venom.jpg">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fas fa-bookmark"></i></a>
                    <a href="#"><i class="fas fa-language"></i></a>
                    <a href="#"><i class="fas fa-share-alt"></i></a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Nombre Pelicula
                        <i class="material-icons">close</i>
                    </span>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries
                    </p>
                </div>
            </div>
            <div class="col s12 m2 12 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/imagenes/posters/what_if.jpg">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fas fa-bookmark"></i></a>
                    <a href="#"><i class="fas fa-language"></i></a>
                    <a href="#"><i class="fas fa-share-alt"></i></a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Nombre Pelicula
                        <i class="material-icons">close</i>
                    </span>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries
                    </p>
                </div>
            </div>
            <div class="col s12 m2 12 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/imagenes/posters/wonder_woman.jpg">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fas fa-bookmark"></i></a>
                    <a href="#"><i class="fas fa-language"></i></a>
                    <a href="#"><i class="fas fa-share-alt"></i></a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Nombre Pelicula
                        <i class="material-icons">close</i>
                    </span>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>